.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.retry-button {
  background-color: #4656a1;
  width: 100px;
  color: #ffffff;
}
