.link-item {
  text-decoration: none;
  color: black;
}

.course-item {
  display: flex;
  flex-direction: row;
  width: 170px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 8px;
}

.logo-style {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.name {
  font-weight: 800;
  font-size: 20px;
  font-family: 'Consolas';
}
