.header-container {
  background-color: #f1f5f9;
  height: 100px;
  width: 100vw;
  padding-left: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-logo {
  height: 50px;
  width: 150px;
  margin: 10px;
}
